@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary: #0d5b6a;
    --light-primary: #62d7ea;
    --dark-primary: #093b43;
    --secondary: #127097;
    --dark-secondary: #01374e;
    --light-secondary: #7dc2df;
    --tertiary: #118825;
    --white: #f6fcfe;
    --black: #040404;
}
body{
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--white);
    color: var(--black);
}
h2, h3, h4, h5{
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-primary);
}
strong{
    font-weight: 400;
}
em{
    font-style: normal;
    font-weight: 400;
}
@keyframes zoomIn {
    from {
        right: -250px;
      }
      to {
        right: 0;
      }
}
@keyframes fadeOut {
    from {
      right: 0;
    }
    to {
      right: -250px;
    }
}
@keyframes appear {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}
@keyframes disappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
button{
    transition: all 300ms ease-in;
}
header{
    height: 100vh;
    /* background-color: var(--primary) !important; */
}
nav{
    height: 15%;
    position: fixed !important;
    z-index: 100;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 2px 2px 2px rgba(125,194,223,0.2);
}
.hero_div {
    width: 100%;
    background-color: var(--dark-primary);
    opacity: 0.9;
    color: var(--white);
    display: flex;
    justify-content: space-between;
}
.navDiv {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 4rem;
}
.navbarBrand img {
    width: 50%;
}
.navbarToggleIcon {
    display: none;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary);
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.navbarNav {
    display: flex;
    gap: 4rem;
    align-items: start;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    width: max-content;
}
li a{
      text-decoration: none;
      color: var(--white);
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 1.1rem;
      transition: all 300ms ease;
}
li a:hover{
    padding: 0.5rem 0.1rem;
    border-bottom: 2px solid var(--white);
}
.navbarNav{
    list-style: none;
    display: flex;
}
header #carouselExampleCaptions{
    height: 80%;
    margin-bottom: 2rem !important;
}
.carousel-item img{
    height: 100vh !important;
}
.carousel-caption{
    width: 80% !important;
    height: max-content !important;
}
.carousel-caption h5{
    letter-spacing: 0.5px;
}
.nav-item{
    font-weight: 500;
    margin-inline: 1rem;
    font-size: 1.2rem;
}
.carousel-caption{
    width: 40%;
    height: 50%;
    margin-top: 0;
    text-align: start;
    color: var(--white);
}
.carousel-caption h5{
    color: var(--white);
    font-size: 2.5rem;
}
.carousel-caption p{
    font-size: 1.5rem;
    color: var(--white);
}
.carousel-caption button{
    background-color: var(--secondary);
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    margin: 1rem 3rem 0 0;
}
.carousel-caption button:last-child{
    background-color: transparent;
    border: 2px solid var(--secondary);
}
.carousel-caption button:hover{
    background-color: transparent;
    border: 2px solid var(--secondary);
    box-shadow: 2px 2px 2px 2px rgba(125,194,223, 0.2);
    color: var(--white);
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.6) 70%, rgba(4, 4, 4, 0.35) 90%);
}

/* main */
.introductorySec{
    width: 90%;
    margin-inline: auto;
    margin-block: 2rem;
}
.introChilddiv{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-block: 4rem;
    text-align: justify;
}
.introChilddiv:last-child{
    flex-direction: row-reverse;
}
.introChilddiv img{
    width: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(125,194,223,0.2);
}
/* founder section */
.founderSec{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 3rem;
}
.founderSec h6{
    color: inherit;
    font-size: 1.2rem;
}
.founderdiv, .coFounderdiv{
    width: 40%;
    height: 40%;
    text-align: justify;
    margin-block: 2rem;
}
.imgContainer{
    width: 90%;
    height: 100%;
    /* margin-bottom: 2rem; */
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.imgContainer img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 2px 2px 2px 2px rgba(125,194,223, 0.2);
}
.founderdiv .textdiv, .coFounderdiv .textdiv{
    height: 10%;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 700ms ease;
}
.founderdiv .textdiv:hover, .coFounderdiv .textdiv:hover{
    width: 50vw;
    line-height: 2rem;
    margin-left: -7rem;
    margin-top: 2rem;
    z-index: 1;
    background-color: var(--primary);
    color: var(--white);
    overflow-y: scroll;
    white-space: initial;
    text-overflow: initial;
    animation: appear 900ms linear;
    box-shadow: inset 3px 3px 3px 3px rgba(255, 255, 255, 0.3);
}
.founderdiv .textdiv h4, .coFounderdiv .textdiv h4{
    text-align: center;
}
/* sect3Pdiv */
.sect3div{
    width: 100%;
    margin-inline: auto;
    margin-block: 4rem;
    gap: 2rem;
}
.sect3div h4{
    color: var(--tertiary);
}
.sect3div h3{
    text-align: center;
}
.sect3div .sect3Pdiv{
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
.sect3Pdiv div{
    height: max-content;
    border-radius: 12px;
    padding: 2rem 1rem;
    box-shadow: 2px 2px 2px 2px rgba(125,194,223, 0.1);
}
.sect3Pdiv div:hover{
    margin-top: -4rem;
    transition: all 500ms ease;
    background-color: var(--light-primary);
    box-shadow: 2px 2px 2px 2px rgba(100, 44, 124, 0.2);
}
.sect3Pdiv .oddDiv{
    background-color: var(--primary);
    color: var(--white);
}
.sect3Pdiv .oddDiv:hover{
    color: var(--black);
}
.oddDiv h5{
    color: var(--white);
}
.sect3Pdiv{
    margin-top: 6rem;
}
.sect3Pdiv h4{
    font-size: 30px;
}
.sect4Div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    gap: 2rem;
    margin-block: 2rem;
}
.sect4Div1ImgDiv{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
#imgDivId1{
    background-image: url('https://www.railway-technology.com/wp-content/uploads/sites/13/2023/03/chenab-bridge.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 100%;
    width: 100%;
}
#imgDivId2{
    background-image: url('http://www.mingor.net/images-large/gleneagle-jarrahdale-road-june-2014.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 80%;
    width: 40%;
}
.sect4Div1TextDiv button{
    background-color: var(--secondary);
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    margin: 1rem 3rem 0 0;
    color: var(--white);
    box-shadow: 2px 2px 2px 2px rgba(125,194,223, 0.1);
}
.sect4Div1TextDiv button:hover{
    background-color: var(--dark-secondary);
    box-shadow: 2px 2px 2px 2px rgba(125,194,223, 0.08);
}
.sect4Div1TextDiv button:active{
    background-color: var(--light-secondary);
}
.sect4Div1TextDiv button:focus{
    outline: 2px solid var(--dark-secondary);
    offset: 2px;
    box-shadow: 2px 2px 2px 2px rgba(125,194,223, 0.2);
}
/* footer */
footer{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    background-color: var(--primary);
}
.footer_p{
    color: var(--white);
}
.parent_footer_div{
    display: flex;
    justify-content: space-around;
}
#footer_logo{
   width: 10rem;
   height: 10rem; 
}
#footer_logo img{
   width: 100%; 
}
.child_footer_div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
#socialMediaIcons{
    flex-direction: row;
    gap: 1.2rem;
    align-items: start;
}
#socialMediaIcons li i{
    font-size: 1.5rem;
    transition: all 700ms ease;
}
#socialMediaIcons li i:hover{
    color: #757676;
}
.smallScreen{
    display: none;
}
.child_footer_div ul a{
    color: var(--white);
    text-decoration: none;
    padding-block: 1rem;
}
.footer_form_div{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: end;
}
.footer_form_div form{
    width: 35%;
    margin-right: 5rem;    
}
.footer_form_div form input{
    width: 90%;
    border-radius: 5px;
    border: none;
    padding: 1.1rem;
    padding-right: 9.5rem;
}
.footer_form_div form input:hover{
    box-shadow: 2px 2px 2px 2px rgba(4, 4, 4, 0.33);
}
.footer_form_div form input:active, .footer_form_div form input:focus{
    outline: none;
    box-shadow: inset 2px 2px 2px 2px rgba(13, 91, 106, 0.33);
}
.footer_form_div form p{
    text-align: center;
    margin-bottom: 1.75rem;
}
#footer_btn_div{
    position: relative;
}
#footer_btn_div button{
    background-color: var(--primary);
    color: var(--white);
    border: none;
    width: 30%;
    height: 2.12rem;
    position: absolute;
    bottom: 0.8rem;
    left: 16rem;
    padding-bottom: 1.2rem;
    padding-top: 0.3rem;
    border-radius: 5px;
}
#footer_btn_div button:hover{
    background-color: var(--dark-primary);
    border-bottom: 1px solid var(--black);
}
footer .child_p{
    background-color: var(--white);
    margin-top: 3.5rem;
    padding-block: 0.3rem;
    text-align: center;
    color: var(--black);
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 650px){
    .navbarBrand{
        padding: 0.2rem;
    }
    .navbarBrand img {
        width: 65%;
    }
    .navbarNav {
        width: 70%;
        height: 70vh;
        top: 4.2rem;
        right: 0px;
        gap: 1.5rem;
        display: none;
        text-align: end;
        padding-left: 1rem;
        flex-direction: column;
        position: absolute;
        background-color: var(--dark-primary);
        border-bottom-left-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgba(3, 19, 23, 0.2);
    }
    .navbarToggleIcon{
          display: flex;
          margin-right: 1rem;
    }
    .navItem {
          margin: 10px 0;
    }
    .menuIcon{
          color: var(--black);
    }
    .navDiv{
        display: flex;
        justify-content: space-between;
        padding-inline: 0.2rem;
        margin-inline: 0;
    }
    .introductorySec{
        width: 97%;
    }
    .introChilddiv{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 2rem;
    }
    .introChilddiv:last-child{
        flex-direction: column;
    }
    .introChilddiv img{
        width: 90%;
        border-radius:10px;
    }
    .founderSec{
        width: 100%;
        flex-direction: column;
    }
    .founderdiv, .coFounderdiv{
        width: 90%;
        margin-block: 0;
    }
    .founderdiv img, .coFounderdiv img{
        height: 70%;
    }
    .founderdiv .textdiv:hover, .coFounderdiv .textdiv:hover{
        width: 100%;
        margin-left: 0 !important;
        margin-top: 2rem;
        overflow-y: scroll;
    }
    .founderdiv .textdiv:focus, .coFounderdiv .textdiv:focus{
        width: 100%;
        margin-left: 0 !important;
        margin-top: 2rem;
        overflow-y: scroll;
    }
    .sect3div{
        width: 100vw;
        margin-inline: auto;
        margin-block: 4rem;
        gap: 1rem;
    }
    .sect3div .sect3Pdiv{
        margin-top: 1rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .sect3Pdiv div{
        padding: 2rem 1rem;
        width: 100%;
    }
    .sect4Div1{
        justify-content: center;
        flex-direction: column-reverse;
        width: 98%;
    }
    .sect4Div1ImgDiv{
        width: 90%;
        height:60vh;
    }
    #imgDivId2{
        display: none;
    }
    /* footer */
    footer{
        height: max-content;
        padding-top: 1rem;
        gap: 1rem;
    }
    #footer_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer_logo img{
        width: 40%;
        margin-inline: auto;
    }
    #socialMediaIcons{
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
    #socialMediaIcons li{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    .smallScreen{
        display: block;
    }
    .parent_footer_div{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content:center;
    }
    .footer_form_div{
        height: fit-content;
        width: 100%;
    }
    .footer_form_div form{
        width: 90%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin-inline: auto; 
    }
    .footer_form_div form input{
        width: 100%;
        padding-right: 8rem;
        margin-inline: auto;
    }
    #footer_btn_div button{
        bottom: 0.5rem;
        left: 0;
        margin-left: 15rem;
    }
    footer .child_p{
        margin-top: 0.2rem;
        justify-content: space-between;
        padding-inline: 0.2rem;
        white-space: nowrap;
        overflow: hidden;
    }
    .footer_p span {
        display: inline-block;
        align-items: center;
        animation: moveRightToLeft 10s linear infinite;
        width: 100%;
    }
}
/* footer responsiveness for tabs*/
@media screen and (min-width: 576px) and (max-width: 920px){
    footer{
        height: max-content;
    }
    .footer_form_div form{
        width: 50%;
    }
    .footer_form_div form input{
        width: 100%;
    }
    #footer_btn_div button{
        left: 18rem;
    }
}